	body {
		margin: 0px;
		padding: 0px;
		font-family: "Open Sans", sans-serif
	}
	.node {
		stroke: #fff;
		stroke-width: 1px;
	}
	
	.link {
		stroke: #999;
	}

	.link-source {
		stroke: #900;
	}
	
	.link-target {
		stroke: #090;
	}

div.tooltip {   
	position: absolute;
	text-align: center;
	padding: 15px;      
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	font-size: 12px;
}