body {
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans", sans-serif;
	background-color: #111;
}

.node {
	fill: #151515;
}

.node-loop {
	display: none;
}
	
.link {
	stroke: #999;
	fill: none;
}

.link-source {
	stroke: #400;
	fill: none;
}
	
.link-target {
	stroke: #040;
	fill: none;
}

div.tooltip {   
	position: absolute;
	text-align: center;
	padding: 15px;      
	background: #222;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	font-size: 12px;
	color: #fff;
}